/* font-family: 'Playfair Display SC', serif;
font-family: 'Montserrat', sans-serif; */
*{
    background-image: url("./img/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-bottom: 50px;
}

body{
    color: rgb(253, 211, 106);
    display: flex;
    flex-direction: column;
   font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

#full, #wanningGib, #lastQuart, #wanningCrescent, #newMoon, #waxingCrescent, #firstQuarter, #waxingGibou{
    max-height: 150px;
    max-width: 150px;
    border-radius: 6rem;
    opacity: .75;
}
#moonImg > img{
    max-width: 400px;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
}

h1{
    font-family: 'Playfair Display SC', serif;
    font-size: 50px;
}

h2{
    font-size: 25px;
}

#moonInfo{
    padding-left: 200px;
    padding-right: 200px;

    
}


